  /* Sidebar (Fixed on Left) */
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    padding: 0px 20px;
    height: 100vh; /* Full height */
    background-color:  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .close button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    display: none;
    cursor: pointer;
  }

  .close img {
    width: 36px;
  }



  .sidebar::-webkit-scrollbar {
    width: 6px;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .sidebar::-webkit-scrollbar-track {
    background-color: #333;
  }

  .sidebar-logo {
    display: flex;
    justify-content: center;
}

.sidebar-logo img {
    width: 150px;

}

.add-btn-main {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.add-btn-main img {
    width: 22px;
}

.add-btn-main p {
    margin-left: 5px;
}

.add-btn {
    background-color: #FBB13C; /* Accessible contrast color */
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    background-color: #FFB703;
}

.sidebar-menu {
    margin-top: 30px;
}

.sidebar-menu ul li {
    display: flex;
    align-items: center;
    margin-top: 32px;
    cursor: pointer;
}

.sidebar-menu img {
    width: 22px;
    margin-right: 12px;
}

.sidebar-menu ul li:hover {
    color: #FBB13C; /* Accessible contrast color */
}

.storage-detail {
    display: flex;
    margin-top: 64px;
}


.storage-detail p {
    font-size: 32px;
}

.storage-detail img {
    width: 26px;
    margin-right: 8px;
}

.memory-used {
    margin-top: 24px;
    font-size: 19px;
}


.memory-container {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
  }
  
  .memory-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }

  .progress {
    display: flex;
    justify-content: center;
  }
  
  .progress-bar {
    width: 98%;
    height: 10px;
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 24px;
  }
  
  .progress-fill {
    height: 100%;
    background: #4098DA;
    transition: width 0.5s ease-in-out;
  }

  .percentage {
    display: flex;
    font-size: 17px;
    margin-top: 12px;
  }
  
  .buy-storage {
    margin-top: 24px;

  }

  .buy-btn {
    background-color: #FBB13C; /* Accessible contrast color */
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-btn:hover {
    background-color: #FFB703;
}




@media screen and (max-width: 768px) {
    .sidebar {
        width: 55%;
        z-index: 10;
        position: fixed;
        left: -500px;
        transition: 0.8s ease-in-out;       
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .close button {
      display: block;
    }

    .sidebar.active {
        left: 0;
    }

    .add-btn-main img {
        width: 18px;
    }
    
    .add-btn-main p {
        font-size: 15px;
    }
    
    .add-btn {
        padding: 10px;
        font-size: 15px;
    }
    
    .add-btn:hover {
        background-color: #FFB703;
    }
    
    .sidebar-menu ul li {
        font-size: 15px;
    }
    
    
    .sidebar-menu img {
        width: 19px;
    }
    
    .storage-detail p {
        font-size: 26px;
    }
    
    .storage-detail img {
        width: 22px;
    }

    .memory-used {
        font-size: 16px;
    }
    
    
    .memory-container {
        padding: 8px;
      }
      
      .memory-text {
        font-size: 15px;
      }
    
    
      
      .progress-bar {
        height: 9px;
      }
    
      .percentage {
        font-size: 15px;
      }

      .buy-storage {
        padding-bottom: 32px;
    
      }
    
      .buy-btn {
        padding: 8px;
        font-size: 15px;
        width: 60%;
    }
    
    .buy-btn:hover {
        background-color: #FFB703;
    }
    
   
   }
