/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff; /* Accessible color */
    color: #333;
    
}